<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Lista ofert</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        
    </head>
    <body>
          
        <section layout:fragment="content">
            <div id="offerFilter" class="panel panel-default">
                <div class="panel-heading">Szukaj ofert</div>
                <div class="panel-body">
                    <form id="offerFilterForm" action="/" method="get" class="form-inline" th:object="${offerFilter}">
                        <select class="form-control" th:field="*{manufacturerId}">
                            <option th:value="-1" >Wybierz producenta</option>
                            <option th:each="manufacturer : ${carManufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
                        </select>
                        <select class="form-control" th:field="*{modelId}">
                            <option th:value="-1" >Wybierz model</option>
                            <option th:each="model : ${carModels}" th:value="${model.id}" th:text="${model.name}"></option>
                        </select>
                        <select class="form-control" th:field="*{fuelTypeId}">
                            <option th:value="-1" >Wybierz rodzaj paliwa</option>
                            <option th:each="ft : ${fuelTypes}" th:value="${ft.id}" th:text="${ft.name}"></option>
                        </select>
                        <label for='dateFrom'>Produkcja od: </label>
                        <input id='dateFrom' th:field="*{dateFrom}"></input>
                        <label for='dateTo' >Produkcja do: </label>
                        <input id='dateTo' th:field="*{dateTo}"></input>
                        </br>
                        <label for='offerDes' >Opis zawiera: </label>
                        <input id='offerDes' th:field="*{offerDes}"></input>
                        
                        <select class="form-control" th:field="*{sort}">
                            <option th:value="-1" >Sortowanie alfabetyczne (domyślne)</option>
                            <option th:value="0" >Po roku produkcji rosnąco</option>
                            <option th:value="1" >Po roku produkcji malejąco</option>
                            <option th:value="2" >Po cenie rosnąco</option>
                            <option th:value="3" >Po cenie malejąco</option>
                            <option th:value="4" >Od najnowszych</option>
                            <option th:value="5" >Od najstarszych</option>
                        </select>
                        <input type="submit" value="Filtruj" class="form-control"/>
                    </form>
                </div>
            </div>
            <table class="table">
        <tr>
            <th>Tytuł</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rocznik</th>
            <th>Cena</th>
            <th></th>
        </tr>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.title}"></td>
            <td th:text="${offer.model.manufacturer.name}"></td>
            <td th:text="${offer.model.name}"></td>
            <td th:text="${offer.year}"></td>
            <td class="text-right">
        <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')}"></span>
        zł
    </td>
            <td><a th:href="|/offer/${offer.id}|">Pokaż</a></td>
        </tr>
    </table>
         <!--   <div th:each="pageNumber : ${pageNumbers}">
                
            <a th:href="${${#httpServletRequest.requestURI}=='http://localhost:8080/'} ? '?pageNumber=${pageNumber}' : '&pageNumber=${pageNumber}'"
                th:text=${pageNumber}></a>
        </div> -->
        </section>
        
    </body>
</html>