<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Lista ofert</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <section layout:fragment="content">
            <p th:each="cm1 : ${carManufacturers}" th:text="${cm1.name}"></p>
        </section>
        <section layout:fragment="content">
            <p th:each="cm2 : ${carModels}" th:text="${cm2.name}"></p>
        </section>
        <section layout:fragment="content">
            <p th:each="bs : ${bodyStyles}" th:text="${bs.name}"></p>
        </section>
        <section layout:fragment="content">
            <p th:each="ft : ${fuelTypes}" th:text="${ft.name}"></p>
        </section>
    </body>
</html>